.side-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden; /* Prevent the whole column from scrolling */
}

/* Top Section: Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left; /* Center the logo */
}

/* Middle Section: Task Lists */
.task-lists {
  flex-grow: 1;
}

.task-lists h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #fff;
}

.task-lists-ul {
  list-style: none;
  padding: 0;
}

.task-lists-li {
  margin: 10px 0;
  padding: 10px;
  background-color: #34495e;
  border-radius: 4px;
  cursor: pointer;
  /* display: flex; */
  box-sizing: border-box;
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #ffffff;
}

.task-lists-li.selected {
  background-color: #6b8eb3c4;  /* Highlight selected li */
}

.task-lists-li:hover {
  background-color: #1abc9c;
}

/* Bottom Section: Settings Button */
.settings {
  margin-top: 20px;
  text-align: center; /* Center the settings button */
}

.settings button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1abc9c;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.settings button:hover {
  background-color: #16a085;
}

/* Task List Item Actions (Edit & Delete Buttons) */
.task-list-actions button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .side-panel {
    padding: 10px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .task-lists h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .task-lists-li {
    margin: 8px 0;
    padding: 8px;
    font-size: 14px;
  }

  .settings button {
    padding: 8px 16px;
    font-size: 14px;
  }
}